.menuBar {
  /* background: red; */

  position: fixed;
  top: 0;
  right: 0;

  height: 128px;

  /* z-index: 0; */
}

.menuBarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 0 64px;
}

.menuBarItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 12px;
  transition: all 0.2s ease-in-out;
}

.createEvent {
  border-radius: 100%;

  width: 42px;
  height: 42px;

  background-color: #f9f9f9c1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;
}

.createEvent:hover {
  scale: 1.1;
  cursor: pointer;
}

.createEvent:active {
  scale: 1;
}

@media (prefers-color-scheme: dark) {
  .createEvent {
    background-color: #f0f2f5c1;
  }
}

.createEventIcon {
  width: 28px;
  height: 28px;

  /* increase svg thickness */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3 !important;
  fill: none;

  stroke: #000;
}

.profile {
  transition: all 0.2s ease-in-out;
}

.profile:hover {
  scale: 1.1;
  cursor: pointer;
}

.profile:active {
  scale: 1;
}

.profileAvatar {
  border-radius: 100%;
  min-width: 42px;
  min-height: 42px;
}

.overlayContent {
  position: fixed;

  top: 0;
  left: 0;

  /* position middle of screenm */

  width: calc(100% - 256px);
  height: calc(100% - 256px);

  margin-top: 128px;
  margin-left: 128px;
  margin-right: 128px;
  margin-bottom: 128px;

  z-index: 1;

  /* margin-top: 60px; */

  /* background: blue; */
  user-select: none;
}

.createEventForm {
  /* background: red; */

  /* display flex form in the middle */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: absolute;

  height: 100%;
  width: 100%;

  gap: 48px;
  /* padding-bottom: 128px; */
}

.createEventFormHeader {
  width: 100%;

  font-weight: 600;

  /* background: yellow; */
}

.createEventFormEventName {
  outline: none;
  border: none;

  width: 100%;

  font-size: 36px;

  color: var(--sp-text-color);

  transition: all 0.2s ease-in-out;
}

.createEventFormInvalid {
  background-color: var(--sp-dangerous-color-background);
  border-bottom: 2px solid var(--sp-dangerous-color) !important;
}

.createEventFormInvalidText {
  color: var(--sp-dangerous-color);
  /* font-weight: 500;z */
}

.createEventFormEventName::placeholder {
  color: var(--sp-secondary-text-color);

  transition: all 0.2s ease-in-out;
}

.createEventFormContent {
  width: 100%;
  height: 100%;

  /* background: orange; */
}

.createEventFormDescription {
  outline: none;
  border: none;

  width: 100%;
  height: 100%;

  resize: none;

  font-size: 28px;
  color: var(--sp-text-color);

  transition: all 0.2s ease-in-out;
}

.createEventFormDescription::placeholder {
  color: var(--sp-secondary-text-color);

  transition: all 0.2s ease-in-out;
}

.createEventFormFooter {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* background: purple; */

  gap: 12px;
}

.createEventFormMagnet {
  transition: all 0.2s ease-in-out;
}

.createEventFormMagnet:hover {
  scale: 1.1;

  .createEventFormKeybind {
    filter: drop-shadow(0 0 10px #0000009d);
  }

  @media (prefers-color-scheme: dark) {
    .createEventFormKeybind {
      filter: drop-shadow(0 0 10px #f9f9f997);
    }
  }
}

.createEventFormMagnet:active {
  scale: 1.05;
}

.createEventFormMagnetCancel:hover {
  .createEventFormKeybind {
    filter: drop-shadow(0 0 10px var(--sp-dangerous-color-shadow));
  }

  @media (prefers-color-scheme: dark) {
    .createEventFormKeybind {
      filter: drop-shadow(0 0 10px var(--sp-dangerous-color-shadow));
    }
  }
}

.createEventFormMagnetDisabled {
  cursor: not-allowed !important;
}

.createEventFormMagnetDisabled:hover {
  scale: 1 !important;

  .createEventFormKeybind {
    filter: none !important;
  }
}

.createEventFormMagnetDisabled:active {
  scale: 1 !important;
}

.createEventFormButtonText {
  font-size: 20px;
  font-weight: 500;

  transition: color 0.2s ease-in-out;

  /* transition: all 0.2s ease-in-out; */
}

.createEventFormButton {
  cursor: pointer;

  color: var(--sp-text-color);
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 42px;

  /* background: lime; */

  padding: 0 12px;

  gap: 12px;
}

.createEventFormButton:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.createEventFormButtonCancel:hover {
  .createEventFormButtonText {
    color: var(--sp-dangerous-color);
  }

  /* .createEventFormKeybind {
    filter: drop-shadow(0 0 10px var(--sp-dangerous-color));
  } */

  .createEventFormKeybindCancel {
    background-color: var(--sp-dangerous-color);
    border-radius: 4px;
  }

  .createEventFormKeybind {
    color: #492020;
  }

  /* .createEventFormKeybind {
    filter: drop-shadow(0 0 10px var(--sp-dangerous-color));
  } */
}

@media (prefers-color-scheme: dark) {
  .createEventFormDescription {
    /* scrolabr color */
    scrollbar-color: #c5c5c55e #f0f2f5c1;
  }
}

.blurOverlay {
  position: fixed;
  inset: 0;

  background: rgba(240, 240, 240, 0.1);
  /* background: red !important; */

  backdrop-filter: blur(12px);
  filter: blur(16px);

  will-change: clip-path;

  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  .blurOverlay {
    background: rgba(50, 50, 50, 0.05);
  }
}
