:root {
  --sp-sidebar-background-color: var(--sp-background-color);
  --sp-sidebar-item-hover-color: var(--sp-background-color);
  --sp-sidebar-content-border-color: #d2d2d7;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --sp-sidebar-background-color: #1a1a1a; */
    --sp-sidebar-content-background-color: #1a1a1a;
    --sp-sidebar-item-hover-color: #252527;
    --sp-sidebar-content-border-color: #37373a83;
  }
}

.mainContent {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;

  height: 100vh;
  width: 100vw;

  border-top-left-radius: 28px;

  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);

  border-top: 10px solid #ffffff00;
  border-bottom: 10px solid #ffffff00;
  border-left: 10px solid #ffffff00;

  transition: background-color 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .mainContent {
    margin-left: 0px !important;

    box-shadow: none !important;

    border-top: 0px solid #ffffff00;
    border-bottom: 0px solid #ffffff00;
    border-left: 0px solid #ffffff00;
  }
}

@media (prefers-color-scheme: dark) {
  .mainContent {
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.5);
  }
}

.sidebarContent {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;

  /* min-height: 100px; */

  /* background-color: red !important; */

  /* flex flex-1 flex-col overflow-x-hidden overflow-y-auto */
}

.linksContainer {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  /* color: var(--sp-text-color); */
  /* transition: all 0.2s ease-in-out; */
}

.sidebarLinkIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  /* margin-left: 2.5px; */
}

.logoLink {
  position: relative;
  z-index: 20;

  display: flex;
  align-items: center;
  justify-content: start;

  gap: 8px;

  padding-top: 8px;
  padding-bottom: 8px;

  border-radius: 8px;

  transition: all 0.2s ease-in-out;
}

.logoLink:hover {
  transform: translateX(6px);
  scale: 1.05;
}

@media (max-width: 767px) {
  .logoLink:hover {
    transform: translateX(12px);
    scale: 1.05;
  }
}

.logoImage {
  flex-shrink: 0;
  margin-left: 4px;
}

.logoText {
  font-weight: 500;
  white-space: pre;

  color: var(--sp-text-color);
}

.avatarLink:hover {
  .avatarImage {
    transform: translateX(3px);
  }
}

.avatarImage {
  border-radius: 100%;

  flex-shrink: 0;

  min-width: 28px;
  min-height: 28px;
  max-width: 28px;
  max-height: 28px;

  transition: all 0.2s ease-in-out;
}
