.buttonKeybindMagnet {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.buttonKeybind {
  padding: 4px 8px;

  border-radius: 4px;

  background-color: #70707056;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-in-out;
}

.buttonKeybindIcon {
  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-in-out;
}

.buttonKeybindText {
  font-size: 14px;
  font-weight: 500;
  /* color: #f9f9f9; */

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-in-out;
}

.buttonKeybind_active {
  background-color: #707070a4;
  scale: 1.1;

  .buttonKeybindIcon {
    filter: drop-shadow(0 0 10px #f9f9f997) !important;
  }
}

.buttonKeybindDangerous_active {
  background-color: var(--sp-dangerous-color-dark) !important;
  scale: 1.1;
  color: #492020;

  .buttonKeybindIcon {
    filter: drop-shadow(
      0 0 10px var(--sp-dangerous-color-dark-shadow)
    ) !important;
  }
}
