.keybindContainerMagnet {
  display: flex;
  flex-direction: row;

  gap: 8px;
}

.keybindContainer {
  padding: 4px 8px;

  border-radius: 4px;

  background-color: #0000001a;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-in-out;
}

.keybindIcon {
  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-in-out;
}

.keybindText {
  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-in-out;
}

.keybindButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  transition: scale 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.keybindButtonIcon {
  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    color 0.2s ease-in-out,
    filter 0.2s ease-in-out;
}

.keybindButtonText {
  transition:
    color 0.2s ease-in-out,
    text-shadow 0.2s ease-in-out;
}

/* keybindButton.hover If Keybinds is not disabled */
.keybindButton:hover:not(:disabled) {
  scale: 1.1;
}

/* keybindButton.active If Keybinds is not disabled */
.keybindButton:active:not(:disabled) {
  scale: 1.05;
}

/* If Keybinds is disabled */
.keybindButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* beybindButton:hover If Keybinds is not disabled and not dangerous */
.keybindButton:hover:not(:disabled):not(.keybindButtonDangerous) {
  .keybindButtonIcon {
    filter: drop-shadow(0 0 10px #30303097);
  }

  .keybindButtonText {
    /* TODO: Test the color */
    text-shadow: 0 0 10px #30303097;
  }

  .keybindContainer {
    box-shadow: 0 0 5px #30303097;
    background-color: #00000029;
  }

  @media (prefers-color-scheme: dark) {
    .keybindButtonIcon {
      filter: drop-shadow(0 0 10px #c9c9c98e);
    }

    .keybindButtonText {
      text-shadow: 0 0 5px #c9c9c98e;
    }

    .keybindContainer {
      box-shadow: 0 0 10px #4d4d4d8e;
      background-color: rgba(148, 148, 148, 0.41);
    }
  }
}

/* keybindButtonDangerous.hover If Keybinds is not disabled and dangerous */
.keybindButtonDangerous:hover:not(:disabled) {
  .keybindButtonIcon {
    color: var(--sp-dangerous-color);
    filter: drop-shadow(0 0 10px var(--sp-dangerous-color-shadow));
  }

  .keybindButtonText {
    color: var(--sp-dangerous-color);
    text-shadow: 0 0 10px var(--sp-dangerous-color-shadow);
  }

  .keybindContainer {
    box-shadow: 0 0 10px var(--sp-dangerous-color-box-shadow);
    background-color: var(--sp-dangerous-color);
  }
}

/* If Keybinds is not disabled and not dangerous and has keybind pressed down */
.keybindButton:not(:disabled):not(.keybindButtonDangerous):has(
    .keybindContainer_active
  ) {
  .keybindContainer_active {
    box-shadow: 0 0 5px #30303097;
    background-color: #00000029;
  }

  .keybindButton:not(:hover) {
    .keybindContainer_active {
      scale: 1.1;
    }
  }

  @media (prefers-color-scheme: dark) {
    .keybindContainer_active {
      box-shadow: 0 0 10px #4d4d4d8e;
      background-color: rgba(148, 148, 148, 0.41);
    }
  }
}

/* if Keybinds is not disabled and is dangerous and has keybind pressed down */
.keybindButtonDangerous:not(:disabled):has(.keybindContainer_active) {
  .keybindContainer_active {
    box-shadow: 0 0 10px var(--sp-dangerous-color-box-shadow);
    background-color: var(--sp-dangerous-color);
  }

  .keybindButtonDangerous:not(:hover) {
    .keybindContainer_active {
      scale: 1.1;
    }
  }
}

/* If Keybinds is not disabled and is not dangerous and has all keybinds pressed down */
.keybindButton:not(:disabled):not(.keybindButtonDangerous):has(
    .keybindContainer_activeall
  ) {
  & {
    scale: 1.1;
  }

  .keybindButtonIcon {
    filter: drop-shadow(0 0 10px #30303097);
  }

  .keybindButtonText {
    /* TODO: Test the color */
    text-shadow: 0 0 10px #30303097;
  }

  .keybindContainer {
    box-shadow: 0 0 5px #30303097;
    background-color: #00000029;
  }

  @media (prefers-color-scheme: dark) {
    .keybindButtonIcon {
      filter: drop-shadow(0 0 10px #c9c9c98e);
    }

    .keybindButtonText {
      text-shadow: 0 0 5px #c9c9c98e;
    }

    .keybindContainer {
      box-shadow: 0 0 10px #4d4d4d8e;
      background-color: rgba(148, 148, 148, 0.41);
    }
  }
}

/* If Keybinds is not disabled and is dangerous and has all keybinds pressed down */
.keybindButtonDangerous:not(:disabled):has(.keybindContainer_activeall) {
  & {
    scale: 1.1;
  }

  .keybindButtonIcon {
    color: var(--sp-dangerous-color);
    filter: drop-shadow(0 0 10px var(--sp-dangerous-color-shadow));
  }

  .keybindButtonText {
    color: var(--sp-dangerous-color);
    text-shadow: 0 0 10px var(--sp-dangerous-color-shadow);
  }
}

/* If Keybinds is not dangerous and is loading */
.keybindButton:not(.keybindButtonDangerous):has(.keybindContainer_loading) {
  & {
    scale: 1.1;
  }

  .keybindButtonIcon {
    filter: drop-shadow(0 0 10px #30303097);
  }

  .keybindButtonText {
    /* TODO: Test the color */
    text-shadow: 0 0 10px #30303097;
  }

  .keybindContainer {
    box-shadow: 0 0 5px #30303097;
    background-color: #00000029;
  }

  .keybindContainer {
    box-shadow: 0 0 5px #30303097;
    background-color: #00000029;
  }

  @media (prefers-color-scheme: dark) {
    .keybindButtonIcon {
      filter: drop-shadow(0 0 10px #c9c9c98e);
    }

    .keybindButtonText {
      text-shadow: 0 0 5px #c9c9c98e;
    }

    .keybindContainer {
      box-shadow: 0 0 10px #4d4d4d8e;
      background-color: rgba(148, 148, 148, 0.41);
    }

    .keybindContainer {
      box-shadow: 0 0 10px #4d4d4d8e;
      background-color: rgba(148, 148, 148, 0.41);
    }
  }
}

/* If Keybinds is dangerous and is loading */
.keybindButtonDangerous:has(.keybindContainer_loading) {
  & {
    scale: 1.1;
  }

  .keybindButtonIcon {
    color: var(--sp-dangerous-color);
    filter: drop-shadow(0 0 10px var(--sp-dangerous-color-shadow));
  }

  .keybindButtonText {
    color: var(--sp-dangerous-color);
    text-shadow: 0 0 10px var(--sp-dangerous-color-shadow);
  }

  .keybindContainer {
    box-shadow: 0 0 10px var(--sp-dangerous-color-box-shadow);
    background-color: var(--sp-dangerous-color);
  }
}
