.toaster {
  backdrop-filter: blur(24px) !important;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;

  background-color: transparent !important;

  color: var(--sp-text-color) !important;

  /* display: none; */
}

@media (prefers-color-scheme: dark) {
  .toaster {
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.492) !important;

    background-color: rgb(0, 0, 0, 0.1) !important;

    /* display: none; */
  }
}
