.navbar {
  position: fixed;
  top: 0;
  left: 0;
  /* right: 0; */

  height: 128px;

  user-select: none;

  z-index: 1;

  /* background: red; */

  /* border-bottom: 1px solid var(--sp-border-color); */
}

.navbarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 0 64px;
}

.navbarItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); */
  transition: all 0.2s ease-in-out;
}

.navbarItem:hover {
  cursor: pointer;
}

.navbarItem_left:hover {
  scale: 1.03;

  .navbarTitle {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .navbarTitleIcon {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  }
}

.navbarItem_left:active {
  scale: 1;
}

.navbarTitle {
  font-size: 38px;
  font-weight: 600;
  color: var(--sp-text-color);

  transition: all 0.2s ease-in-out;
}

.navbarTitleIcon {
  color: var(--sp-secondary-text-color);
  margin-top: 12px;

  width: 38px;
  height: 38px;
}

.overlayContent {
  position: fixed;

  top: 0;
  left: 0;

  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 24px;

  /* margin-top: 60px; */

  /* background: blue; */

  padding-top: 140px;
  padding-left: 60px;
  padding-right: 10px;

  user-select: none;
}

.menuButton:has(.overlayMagnet_active) {
  .overlayButtonIcon {
    color: #505050ac !important;
  }

  .overlayButtonText {
    color: #505050ac !important;
  }

  @media (prefers-color-scheme: dark) {
    .overlayButtonIcon {
      color: #f9f9f96f !important;
    }

    .overlayButtonText {
      color: #f9f9f96f !important;
    }
  }
}

.menuNormalButton:hover {
  .overlayButtonText {
    text-shadow: 0 0 10px #00000037;
  }

  @media (prefers-color-scheme: dark) {
    .overlayButtonText {
      text-shadow: 0 0 10px #f9f9f997;
    }
  }

  .overlayButtonIcon {
    filter: drop-shadow(0 0 10px var(--sp-text-color));
  }
}

.overlayMagnet {
  width: 100%;
  height: 100%;

  padding-left: 14px;

  display: flex;
  align-items: center;
  gap: 12px;

  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.overlayMagnet_active {
  .overlayButtonIcon {
    filter: none !important;
  }

  .overlayButtonText {
    text-shadow: none !important;
  }
}

.overlayMagnet_active {
  /* no actions */
  /* all: unset !important; */
  /* cursor: not-allowed !important; */
}

.overlayMagnet_free:hover {
  cursor: pointer;

  transform: translateX(8px) !important;
  scale: 1.1 !important;
}

.overlayButtonIcon {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.overlayButtonText {
  font-size: 18px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.blurOverlay {
  position: fixed;
  inset: 0;
  background: rgba(240, 240, 240, 0.1);
  /* background: linear-gradient(
    to bottom,
    #509cff17 0%,
    #81baff17 50%,
    #aacdf517 75%,
    #fffdef17 100%
  ); */
  /* background: transparent; */

  /* background: transparent; */
  backdrop-filter: blur(12px);
  filter: blur(16px);
  /* -webkit-backdrop-filter: blur(12px); */
  /* z-index: 40; */
  will-change: clip-path;

  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  .blurOverlay {
    background: rgba(50, 50, 50, 0.05);

    /* background: linear-gradient(
      to bottom,
      #080c1317 0%,
      #14171e17 30%,
      #24323b17 75%,
      #31393817 85%,
      #3f3e3217 90%,
      #51422317 100%
    ); */
  }
}
