.photoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
  gap: 6px;
  justify-content: start;

  min-height: 100%;
  /* max-height: calc(100vh - 100px); */
  max-height: calc(100vh - 150px);

  overflow-y: auto;
  overflow-x: hidden;

  /* background: blue; */

  border-radius: 6px;

  margin-left: 24px;
  /* padding-left: 24px; */
  padding-right: 56px;
  padding-bottom: 4px;

  transition: opacity 0.2s ease-in-out;

  /* i hate firefox */
  align-items: start;
  grid-auto-rows: min-content;
}

.blurred {
  opacity: 0.65;
}

.photoGridItem {
  position: relative;

  /* background: red; */
  /* height: 0; */

  padding-bottom: 100%;

  border-radius: 6px;
  /* have to remove this cuz firefox */
  /* aspect-ratio: 1; */

  overflow: hidden;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  /* height: 0; */

  max-width: 180px;
  max-height: 180px;

  /* firefox sucky */
  min-height: 132px;
  min-width: 132px;
}

.photoGridItemImageSkeleton {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--sp-skeleton-color);

  /* z-index: 1; */
}

.photoGridItemOverlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  /* backdrop-filter: blur(10px); */
  /* z-index: 1; */
}

.photoGridItemOverlayContent {
  padding: 12px;
  color: #f9f9f9;

  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.photoGridItemOverlayContentUser {
  display: flex;
  align-items: center;
  gap: 8px;
}

.photoGridItemOverlayContentUserImage {
  border-radius: 50%;
}

.photoGridItemImage {
  width: 100%;
  height: 100%;

  /* min-width: 180px;
  min-height: 180px; */

  /* min-width: 100vw;
  min-height: 100vh; */
  /* min-height: 180px; */

  /* min-width: 100%;
  min-height: 100%; */

  object-fit: cover;
  object-position: center;

  display: block;
}

.photoGridItemOverlayContentUserText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  /* break character wrap */
  /* word-break: break-all; */

  width: 100%;
  max-width: 100%;
}
